{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé
        contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('_mot_de_passe_oublie') }}">essayez à nouveau</a>.</p>
{% endblock %}
