{% extends 'base.html.twig' %}

{% block title %}Réinitialise ton mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialise ton mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entre ton adresse email et nous t'enverrons un lien pour
                réinitialiser ton mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
