{% extends 'base.html.twig' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold">Modifier Tournoi</h1>

    {{ include('tournament/tournois_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tournois_home') }}" class="btn btn-ghost btn-xs">Retour au tournois</a>

    {#
        {{ include('tournament/supprimer.html.twig') }}
    #}
{% endblock %}
