{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
    <h1>Modifier Tournoi</h1>

    {{ include('tournament/tournois_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('tournois_home') }}">Retour au tournois</a>

    {{ include('tournament/supprimer.html.twig') }}
{% endblock %}
