{% extends 'base.html.twig' %}

{% block title %}Nouveau Tournois{% endblock %}

{% block body %}
    <h1 class="mb-4 text-5xl font-bold text-gray-900 dark:text-white text-center">Nouveau tournoi</h1>
    <div class="py-8 px-4 mx-auto max-w-4xl lg:py-16">
        <div class="">
            {{ include('tournament/tournois_form.html.twig') }}
        </div>
    </div>
    <a href="{{ path('tournois_home') }}">Retour au tournois</a>
{% endblock %}
