{% extends 'base.html.twig' %}

{% block title %}{{ tournament.name }}{% endblock %}

{% block body %}


    <div class="w-2/3 mx-auto">
        <form>
            <label for="teams" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Liste des équipes : </label>
            <select name="equipes" id="teams" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for equipe in app.user.teams %}
                    <option value="{{ equipe.id }}">{{ equipe.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" />
        </form>

        <h1>Tournoi : </h1>
        {{ tournament }}

    </div>

{% endblock %}
