@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {

    display: flex;
    background-color: #0d9488;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 50px;
}

/*curseur sur ligne tableau équipe*/
.team-row {
    cursor: pointer;
}

.team-row {
    transition: background-color 0.3s, color 0.3s;
}

.team-row:hover {
    background-color: #ff3f3f;
    transform: scale(1.01) translateZ(50px);
}

table tr {
    border: solid black;
}