@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #1a1a1aFF;
    color: #DABE76;
}

.navbar,.footer {
    background-color: black;
    color: #DABE76;
}

.logo {
    z-index: 51;
}

.ulMenu {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: 50px;
}

/*curseur sur ligne tableau équipe*/
.team-row {
    cursor: pointer;
}

.team-row {
    transition: background-color 0.3s, color 0.3s;
}

.team-row:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(1.01) translateZ(50px);
}

table tr {
    border: solid black;
}

/*Tableau du tournois***********************************************************/
#tree {
    display:table;
    width:60%;
    vertical-align:middle;
    margin-bottom: 2em;
}

#tree2 {
    display:table;
    width:60%;
    vertical-align:middle;
}

.level{
    display:table-cell;
    width:33%;
    vertical-align:middle;
}

.item {
    border-right : solid black 5px;
    margin-bottom: 3em;
    margin-right: 3em;
}

.item p {
    display: flex;
    justify-content: center;
    border : solid black;
}

.item span {
    display: flex;
    justify-content: center;
}

/*Tableau de tournois******************************************************/
.arbres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.round {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.equipe,
.equipeShuffled,
.gagnant,
.equipeShuffled2,
.finaliste {
    margin-bottom: 3em;
    position: relative;
}

.equipe div,
.equipeShuffled div,
.gagnant div,
.finaliste div {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.equipe:first-child::after,
.equipe:nth-child(2)::after,
.equipe:nth-child(4)::after,
.equipe:nth-child(6)::after,
.gagnant:first-child::after,
.equipeShuffled:first-child::after,
.equipeShuffled:nth-child(3)::after,
.equipeShuffled:nth-child(5)::after,
.equipeShuffled:nth-child(7)::after,
.finaliste:first-child::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #ccc;
    border-left: none;
    z-index: 0;
}

.equipeShuffled:first-child::after,
.equipeShuffled:nth-child(3)::after,
.equipeShuffled:nth-child(5)::after,
.equipeShuffled:nth-child(7)::after {
    left: 100%;
    width: 20px;
    height: 9em;
    top: 130%;
}


.equipe:first-child::after,
.equipe:nth-child(2)::after,
.equipe:nth-child(4)::after,
.equipe:nth-child(6)::after {
    left: 100%;
    width: 20px;
    height: 10em;
    top: 130%;
}

.finaliste:first-child::after {
    left: 100%;
    width: 20px;
    height: 20em;
    top: 230%;
}

.gagnant::after {
    right: 100%;
    width: 50px;
    height: 1px;
    top: 50%;
}

.equipe span,
.round3 span {
    display: flex;
    justify-content: center;
}

/* ------------------ Page Tournoi ------------------- */

.valeurBtn {
    color: #1a1a1aFF;
}

.inputForm {
    background-color: #1a1a1aFF;
}