<form method="post" action="{{ path('video_game_delete', {'id': video_game.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimé le jeu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video_game.id) }}">
    <button class="btn">Supprimer</button>
</form>
