<form method="post" action="{{ path('_supprimer', {'id': team.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="btn">Suppression d'équipe</button>
</form>
