{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block body %}
    <h1 class="mb-4 text-5xl font-bold text-gray-900 dark:text-white">Nouvelle équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('_liste') }}">Retour à la liste</a>
{% endblock %}
